In [1]:
#Import the dependencies
import requests
import pandas as pd
from bs4 import BeautifulSoup

# New York Stock Exchange
New York Stock Exchange (NYSE) is the leading stock exchange in the world

In [2]:
#Create two empty lists for the company name and company ticker symbol
company_name =[]
company_ticker = []

In [3]:
#Create a function to scrape the data
def scrape_nyse_ticker(Letter):
    Letter =  Letter.upper()
    URL =  'https://www.advfn.com/nyse/newyorkstockexchange.asp?companies='+Letter
    page = requests.get(URL)
    soup = BeautifulSoup(page.text, "html.parser")
    odd_rows = soup.find_all('tr', attrs= {'class':'ts0'})
    even_rows = soup.find_all('tr', attrs= {'class':'ts1'})
    for i in odd_rows:
        row = i.find_all('td')
        company_name.append(row[0].text.strip())
        company_ticker.append(row[1].text.strip())
        for i in even_rows:
            row = i.find_all('td')
            company_name.append(row[0].text.strip())
            company_ticker.append(row[1].text.strip())
    return (company_name, company_ticker)

In [4]:
#Get and show a list of every letter in the alphabet
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [5]:
#Loop through every letter in the alphabet to get all of the tickers from the website
for char in string.ascii_uppercase:
    (temp_name,temp_ticker) = scrape_nyse_ticker(char)

In [11]:
#Create a new dataFrame that contains the company name and company ticker
data = pd.DataFrame(columns = ['name',  'ticker']) 
data['name'] = temp_name
data['ticker'] = temp_ticker

In [13]:
#Data Cleaning
data = data[data['name'] != '']

In [14]:
data

                                       name ticker
0                      A H Belo Corporation    AHC
1                          A10 Networks Inc   ATEN
2                                   ABB Ltd    ABB
3       ACRES Commercial Realty Corporation    ACR
4                                   ADT Inc    ADT
...                                     ...    ...
139510              Zayo Group Holdings Inc   ZAYO
139511                            Zhihu Inc     ZH
139512              Zions Bancorporation NA    ZBK
139513                           Zoetis Inc    ZTS
139514                        Zymeworks Inc   ZYME

[139515 rows x 2 columns]

In [16]:
data.to_excel("nyse/nyse_ticker.xlsx")
data.to_csv("nyse/nyse_ticker.csv")

# Frankfurt Stock Exchange
The Frankfurt Stock Exchange is the world's 12th largest stock exchange by market capitalization.

In [40]:
prime_std = pd.read_html("https://topforeignstocks.com/stock-lists/the-list-of-listed-companies-in-germany/")

In [42]:
prime_std[0]

,S.No.,Company,Ticker,Subsector,Country
0,1,1+1 DRILLISCH AG O.N.,DRI,Wireless Communication,Germany
1,2,11 88 0 SOLUTIONS AG,TGT,Telecommunication Services,Germany
2,3,3U HOLDING AG,UUU,Industrial Products & Services,Germany
3,4,4BASEBIO AG NA O.N.,4BSB,Biotechnology,Germany
4,5,4SC AG,VSC,Biotechnology,Germany
...,...,...,...,...,...
307,308,WUESTENROT+WUERTTEMBERGISCHE AG O.N.,WUW,Mortgage Banks,Germany
308,309,YOC AG O.N.,YOC,Telecommunication Services,Germany
309,310,ZALANDO SE,ZAL,"Retail,Internet",Germany
310,311,ZEAL NETWORK SE NA O.N.,TIMA,"Retail, Internet",Germany
311,312,ZOOPLUS AG,ZO1,"Retail, Internet",Germany

In [ ]:
df.add()

In [50]:
temp_ticker=prime_std[0].Ticker
#Add the ".DE" to Tickers
temp_ticker=temp_ticker.add(".DE")

In [51]:
temp_name=dax[0].Company

In [52]:
#Create a new dataFrame that contains the company name and company ticker
data = pd.DataFrame(columns = ['company_name',  'company_ticker']) 
data['company_name'] = temp_name
data['company_ticker'] = temp_ticker

In [54]:
data

                             company_name company_ticker
0                   1+1 DRILLISCH AG O.N.         DRI.DE
1                    11 88 0 SOLUTIONS AG         TGT.DE
2                           3U HOLDING AG         UUU.DE
3                     4BASEBIO AG NA O.N.        4BSB.DE
4                                  4SC AG         VSC.DE
..                                    ...            ...
307  WUESTENROT+WUERTTEMBERGISCHE AG O.N.         WUW.DE
308                           YOC AG O.N.         YOC.DE
309                            ZALANDO SE         ZAL.DE
310               ZEAL NETWORK SE NA O.N.        TIMA.DE
311                            ZOOPLUS AG         ZO1.DE

[312 rows x 2 columns]

In [55]:
data.to_excel("data/prime/prime_ticker.xlsx")